* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(119, 211, 228);
}

.container {
  background-color: rgb(50, 103, 110);
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 2rem;
}

.signup {
  width: 70%;
}

.input-field input {
  font-size: 2rem !important;
  color: antiquewhite;
}

.input-field label {
  font-size: 1.5rem;
  font-weight: bold;
}

.reg-button {
  padding: 1.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 13rem;
  border-radius: 0.6rem;
  color: rgb(69, 71, 69);
  background-color: rgb(235, 231, 227);
  float: left;
  cursor: pointer;
  border: none;
}

.reg-button:hover {
  background-color: rgb(149, 218, 218);
}

.login-button {
  padding: 1.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 13rem;
  border-radius: 0.6rem;
  color: rgb(69, 71, 69);;
  background-color: rgb(75, 189, 81);
  float: right;
  cursor: pointer;
  border: none;
}

.login-button:hover {
  background-color: rgb(75, 189, 81);
}